.item-post__title {
  font-size: 18px;
  word-break: break-word;

  a {
    display: inline-block;
  }
}
/* Slider */
@import "slides";

/* Text Box */
@import "text-box";

/* Best Selling Products */
@import "best-selling-products";

/* Product Brand */
@import "product-brand";

/* Product List */
@import "product-list";

/* Posts Grid */
@import "post-grid";

/* Posts Carousel */
@import "post-carousel";

/* Testimonial */
@import "testimonial";