.main-navigation {
  background-color: $background-primary;

  .site-navbar {
    position: relative;
  }
  button {
    &.navbar-toggler {
      padding: 0;
      border: 0;
    }
  }
}
.site-logo {
  @include flex(0 0 auto);

  a {
    display: inline-block;
    line-height: 64px;
    padding: 15px 0;
  }
}
.site-menu {
  @include flex(1);

  > ul {
    > li {
      padding: 18px 0;

      &.current-menu-item,
      &:hover {
        background-color: $background-hover;
      }
      > a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      @include transition(all 0.4s ease-in-out);

      a {
        padding: 0 20px;
        color: #ffffff;
        text-shadow: none;
        display: block;
      }
      .sub-menu {
        position: absolute;
        top: 120%;
        left: 0;
        min-width: 240px;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        background-color: $background-second;
        @include transition(all 0.4s ease-out);

        li {
          padding: 13px 0;
          display: block;
          border-bottom: 1px solid rgba(255,255,255,0.1);

          &:last-child {
            border-bottom: none;
          }
          a {
            font-size: 15px;
            text-transform: capitalize;
            white-space: nowrap;
          }
          .sub-menu {
            left: 90%;
            top: 0;
          }
          &:hover {
            background-color: $background-primary;

            > .sub-menu {
              left: 100%;
            }
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f077";
    }
  }
}