// Color
$color-primary: #626262;
$color-second: #333333;
$color-title: #161922;
$color-link: #0095eb;
$color-hover: #007cc3;

// Background
$background-primary: #0095eb;
$background-second: #333333;
$background-hover: #007cc3;

// Border color
$border-color: #c7d7e0;